[scenario]
	id=05b_Frontier_Into_the_Fray
	name=_"Crippling Strike"
	map_data="{~add-ons/Frontier/maps/05ab_Frontier.map}"
	next_scenario=06_Frontier_The_Spoiled_of_War
	{DEFAULT_SCHEDULE}
	[side]
		side=1
		x,y=4,30
		controller=human
#		id=Reylyn
		gold=200
		#
		type=Frontier Hunter
		id=Reylyn
		name=_"Reylyn"
		unrenamable=yes
		canrecruit=yes
		recruit=Frontier Militia, Frontier Forager, Frontier Runner
		controller=human
		[modifications]
			{TRAIT_INTELLIGENT}
			{TRAIT_STRONG}
		[/modifications]
		[unit]
			type=Frontier Herbalist
			id=Alea
			name=_"Alea"
			unrenamable=yes
			x,y=4,15
			{IS_HERO}
			[modifications]
				{TRAIT_LOYAL}
				{TRAIT_INTELLIGENT}
			[/modifications]
		[/unit]
		[unit]
			id=Ydrith
			name="Ydrith"
			type=Frontier Mercenary
			x,y=21,21
			hitpoints=20
			[modifications]
				{TRAIT_STRONG}
				{TRAIT_QUICK}
			[/modifications]
		[/unit]
		
		#
		[unit]
			id=Bryd
			type=Frontier Warden
			name="Bryd"
			x,y=14,23
		[/unit]
		team_name=goodguys
	[/side]
	[side]
		side=2
		id=Orc_Leader
		name=_"Orc Leader"
		type=Orcish Warrior
		recruit=Orcish Grunt, Orcish Warrior, Orcish Archer, Orcish Crossbowman
		fog=yes
		x,y=41,3
		team_name=badguys
		gold=250
	[/side]
	[side]
		side=3
		id=Orc_Outpost_Leader
		name=_"Orc Leader"
		type=Orcish Warrior
		recruit=Orcish Grunt, Orcish Warrior, Orcish Archer
		fog=yes
		x,y=10,19
		team_name=badguys
		gold=100
		[unit]
			id=Dead_Grunt
			type=Orcish Grunt
			generate_name=yes
			random_traits=yes
			x,y=13,23
			hitpoints=8
		[/unit]
		[unit]
			type=Orcish Grunt
			generate_name=yes
			random_traits=yes
			x,y=15,24
		[/unit]
	[/side]
	{STARTING_VILLAGES_AREA 2 9 19 10}
	{STARTING_VILLAGES_AREA 3 39 4 10}

	[event]
		name=prestart
		{LIMIT_MILITIA}
		[scroll_to]
			x,y=1,33
		[/scroll_to]
		[store_unit]
			[filter]
				id=Reylyn
			[/filter]
			variable=Var_Reylyn
			kill=yes
		[/store_unit]
		[store_unit]
			[filter]
				id=Alea
			[/filter]
			variable=Var_Alea
			kill=yes
		[/store_unit]
		[store_unit]
			[filter]
				id=Ydrith
			[/filter]
			variable=Var_Ydrith
			kill=yes
		[/store_unit]
	[/event]

	[event]
		name=start
		[move_unit_fake]
			side=1
			type=$Var_Ydrith.type|
			x=1,5
			y=33,30
		[/move_unit_fake]
		[unstore_unit]
			variable=Var_Ydrith
			x,y=5,30
		[/unstore_unit]
		[move_unit_fake]
			side=1
			type=$Var_Reylyn.type|
			x=1,4
			y=33,29
		[/move_unit_fake]
		[unstore_unit]
			variable=Var_Reylyn
			x,y=4,29
		[/unstore_unit]
		[move_unit_fake]
			side=1
			type=$Var_Alea.type|
			x=1,4
			y=33,30
		[/move_unit_fake]
		[unstore_unit]
			variable=Var_Alea
			x,y=4,30
		[/unstore_unit]

		[message]
			speaker=Alea
			message=_"I think I see someone over there."
		[/message]
		[scroll_to]
			x,y=14,23
		[/scroll_to]
		[message]
			speaker=Orc_Outpost_Leader
			message=_"Kill him you idiots!  It's just one man!"
		[/message]
		[harm_unit]
			[filter]
				id=Dead_Grunt
			[/filter]
			[filter_second]
				id=Bryd
			[/filter_second]
			amount=8
			animate=yes
			kill=yes
		[/harm_unit]
		[message]
			speaker=Ydrith
			message=_"That's him!"
		[/message]
		[message]
			speaker=Reylyn
			message=_"He can't possibly take on this entire army by himself, we must help him.  To arms!"
		[/message]
		[objectives]
			side=1
			[objective]
				description=_"Clear the valley of Orcs"
				condition=win
			[/objective]
			[objective]
				description=_"Death of Reylyn"
				condition=lose
			[/objective]
			[objective]
				description=_"Death of Alea"
				condition=lose
			[/objective]
			[objective]
				description=_"Death of Bryd"
				condition=lose
			[/objective]
		[/objectives]
	[/event]

	[event]
		name=victory
		[message]
			speaker=Bryd
			message=_"Thank you for your help, strangers.  Now tell me, why are you travelling so deep in these mountains so close to the onset of winter?  Surely you know the danger."
		[/message]
		[message]
			speaker=Reylyn
			message=_"You are Bryd, are you not?"
		[/message]
		[message]
			speaker=Bryd
			message=_"I am."
		[/message]
		[message]
			speaker=Reylyn
			message=_"Then we are here because we were searching for you.  Our village, and your village too, or so I'm told by Gunthar, may be in the path of an Orcish warlord's conquest."
		[/message]
		[message]
			speaker=Reylyn
			message=_"The village was attacked several weeks back by an Orcish force, and their leader made mention of a 'Chief'.  We have come to ask that you help us fend off this threat."
		[/message]
		[message]
			speaker=Bryd
			message=_"Ahh, Gunthar.  It has been long indeed."
		[/message]
		[message]
			speaker=Bryd
			message=_"Yes, I will help you.  But we should stay the winter in this valley.  Any journey back to your village now would only see us all dead in the cold."
		[/message]
		[message]
			speaker=Reylyn
			message=_"But what of the warlord?  Our journey here will have been in vain if he razes our village before we return.  Can we not travel quickly enough to beat the snows?"
		[/message]
		[message]
			speaker=Bryd
			message=_"No, I'm afraid we can't.  But do not worry.  I have not yet seen any large movement of Orcish forces towards the south, and not even an Orc would be foolish enough to traverse these mountains in the winter."
		[/message]
		[message]
			speaker=Alea
			message=_"He has a good point, Reylyn.  And besides, imagine what he could teach us over the winter."
		[/message]
		[message]
			speaker=Reylyn
			message=_"Fine.  Since it seems we've no choice, we'll stay the winter here with you Bryd.  But let us leave as soon as it's safe to do so."
		[/message]
		[message]
			speaker=Bryd
			message=_"Of course."
		[/message]
	[/event]

	[event]
		name=last breath
		[filter]
			id=Reylyn
		[/filter]
		[message]
			speaker=Alea
			message=_"Reylyn!  Stay with me!  Just hang on, I'll bandage that wound."
		[/message]
		[message]
			speaker=Reylyn
			message=_"You must... keep..."
		[/message]
		[message]
			speaker=Alea
			message=_"Reylyn!"
		[/message]
		[message]
			speaker=Alea
			message=_"...he's dead..."
		[/message]
		[endlevel]
			result=defeat
		[/endlevel]
	[/event]
	[event]
		name=last breath
		[filter]
			id=Alea
		[/filter]
		[message]
			speaker=Alea
			message=_"Agh!  That looks bad..."
		[/message]
		[message]
			speaker=Reylyn
			message=_"No!"
		[/message]
		[message]
			speaker=Reylyn
			message=_"Damn, I never should have agreed to let her come along..."
		[/message]
		[endlevel]
			result=defeat
		[/endlevel]
	[/event]
	[event]
		name=last breath
		[filter]
			id=Bryd
		[/filter]
		[message]
			speaker=Bryd
			message=_"Damn.  They got me good..."
		[/message]
		[message]
			speaker=Reylyn
			message=_"No! Bryd!"
		[/message]
		[message]
			speaker=Reylyn
			message=_"Did we come all this way for nothing, then?"
		[/message]
		[endlevel]
			result=defeat
		[/endlevel]
	[/event]

	[event]
		name=last breath
		[filter]
			id=Orc_Leader
		[/filter]
		[message]
			speaker=Orc_Leader
			message=_"Khargul, I've failed you..."
		[/message]
		[endlevel]
			result=victory
		[/endlevel]
	[/event]
[/scenario]